node_modules/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS / Xcode
.idea/
.DS_Store
ios/Pods/
ios/build/
ios/**/UserInterfaceState.xcuserstate

## Android
android/local.properties
android/app/build/
android/.gradle/
